@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

table {
  font-family: Arial;
  font-size: 100%;
  white-space: nowrap;
  margin: 0;
  border-radius: 2px;
  border: none;
  border-collapse: separate;
  border-spacing: 1px;
  table-layout: fixed;
  border: 1px solid dimgray;
}
table td,
table th {
  border: 1px solid dimgray;
  padding: 0.5rem 1rem;
}
table thead th {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}
table td {
  background: white;
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 750;
  color: #212121;
}

table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  box-shadow: 3px 0px 5px silver;
}

table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
  box-shadow: 3px 0px 5px silver;
  font-weight: 450;
}

caption {
  text-align: left;
  padding: 0.25rem;
  position: sticky;
  left: 0;
}

[role="region"][aria-labelledby][tabindex] {
  width: 100%;
  max-height: 98vh;
  overflow: auto;
}
[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0;
}

a {
  text-decoration: none;
  font-weight: 100;
}

#insta {
  background: -webkit-linear-gradient(orangered, magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.GM {
  color: gold;
}

.master {
  color: red;
}

td img {
  width: 34px;
  height: 28px;
}
.diamond {
  color: rebeccapurple;
}

.pt {
  color: blue;
}

.gold {
  color: goldenrod;
}
.silver {
  color: #7d7d7d;
}
.bronze {
  color: brown;
}

h1 {
  text-align: center;
  font-family: "Lobster Two", cursive;
  font-weight: 100;
  color: #1f1f1f;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px silver;
  display: inline;
  font-size: 24px;
  margin-left: 10px;
  border-bottom: 2px double #ababab;
  border-radius: 10px;
}
span img {
  height: 50px;
  width: 52px;
}

.insta {
  color: orangered;
  font-size: 35px;
  background: -webkit-linear-gradient(orangered, magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fb {
  font-size: 36px;
  color: dodgerblue;
}
.yt {
  font-size: 38px;
  color: red;
}

th,
td {
  height: 33px;
}

.ukn {
  color: gray;
}

.inukn {
  color: gray;
  font-size: 35px;
  background: -webkit-linear-gradient(gray, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ri-home-office-fill {
  color: black;
  font-size: 24px;
}

.ri-vip-line {
  font-size: 20px;
  color: darkgoldenrod;
  margin: 1px 1px;
}
.er {
  font-weight: 650;
  font-size: 15px;
}

.heroic {
  color: orangered;
}
